$text-color: #fff;

.banner {
    display: flex;
    margin: auto;

    /** BACKGROUD **/
    background-image: 
        url('../../assets/images/home_banner.png');
    background-color: rgba(0, 0, 0, 0.65);
    background-blend-mode: multiply;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /** TEXT **/
    align-items: center;
    color: $text-color;
    font-weight: 700;
    
    @media (max-width: 500px) {
        width: 92%;
        height: 7rem;
        border-radius: 0.75rem;
        padding-left: 1rem;
        font-size: 1.5rem;
    }

    @media (min-width: 501px) {
        width: 90%;
        height: 14rem;
        border-radius: 1.5rem;
        justify-content: center;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        font-size: 3rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    }
}

.about-page .banner {
    background-image: 
    url('../../assets/images/about_banner.png');
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;

    &__p {
        display: none;
    }
}