$background-color: #f6f6f6;

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 0 1rem 0;

    @media (max-width: 500px) {
        flex-direction: column;
        width: 92%;
        gap: 1rem;
    }

    @media (min-width: 501px) {
        justify-content: space-between;
        gap: 1.5rem;
        margin-top: 2rem;

        background-color: $background-color;
        border-radius: 1.5rem;
        
        padding: 2rem;
    }
}