.about-page {
    .collapse-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

.collapse-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .btn, div {
        width: 100%;  
    }

}
    
