.slideshow {
    display: flex;
    justify-content: space-between;

    @media (max-width: 500px) {
        height: 18rem;
        width: 24rem;
    }
      
    @media (min-width: 501px) {
        height: 25rem;
        width: 100%;
    }

    background-size: cover;
    background-position: center;
    border-radius: 10px;

    .slideshow__button {
        border: none;
        background-color: transparent;
    }

    .slideshow__button--svg {
        fill: white;
        height: 1.75em;
    }
}